<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="cnx" connectionString="Data Source=54.213.134.94;Initial Catalog=MVCommon;Connect TimeOut=360000;Persist Security Info=True;User ID=sa;Password=Rewq1234" providerName="SQLSERVER"/>
  </connectionStrings>
  <appSettings/>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="SecureHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="Transport"/>
        </binding>
        <binding name="FileUpload" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
      </webHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="messageInspector" type="eCertificateRest.ConfigurationSection, eCertificateRest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="messageInspectorSimple" type="eCertificateRest.ConfigurationSectionSimple, eCertificateRest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
        <behavior name="webInspector">
          <webHttp/>
          <messageInspector/>
        </behavior>
        <behavior name="webInspectorSimple">
          <webHttp/>
          <messageInspectorSimple/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="eCertificateRest.Services.Certificate">
        <!--SSL
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="SecureHttpBinding" contract="eCertificateRest.Services.ICertificate" behaviorConfiguration="webInspectorSimple"/>
      -->
        <endpoint address="" binding="webHttpBinding" contract="eCertificateRest.Services.ICertificate" behaviorConfiguration="webInspectorSimple"/>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
  </system.webServer>
</configuration>